<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wrinkle Detection App</title>
</head>
<body>
    <h1>Upload an Image for Wrinkle Detection</h1>
    <form method="POST" action="/predict" enctype="multipart/form-data">
        <input type="file" name="file" accept=".jpg, .jpeg, .png">
        <input type="submit" value="Predict">
    </form>

    <!-- Display the prediction result here -->
    <div id="prediction">
        {% if result %}
            <h2>Result:</h2>
            <p>{{ result }}</p>
        {% endif %}
    </div>
</body>
</html>
